@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf8f5;
  --foreground: #2e251c;
  --nest-warm: #d9cfb8;
  --nest-deep: #564636;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
